<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Categorías</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="container">
	<nav class="navbar">
					<nav class="navbar">
					        <!-- Ahora es una etiqueta 'a' que apunta a index.html -->
					        <a href="https://anthonyzc05.github.io/noticia_digital/" class="navbar-brand">
					            <i class="fa-solid fa-layer-group"></i> NexusNews Hub
					        </a>
					    </nav>
				    <ul class="nav-menu">
						<li><a href="http://localhost:8083/comentarios">Comentarios</a></li>
				        <li><a href="http://localhost:8082/categorias"class="active">Categorias</a></li>
				        <li><a href="http://localhost:8084/usuarios"class="btn-nuevo" >Usuarios</a></li>
				        <li><a href="http://localhost:8081/articulos" >Articulos</a></li>
						<li><a href="http://localhost:8086/reacciones">Reacciones</a></li>
						<li><a href="http://localhost:8085/notificaciones">Notificaciones</a></li>
						<li><a href="http://localhost:8087/lista">Articulos Favoritos</a></li>
				    </ul>
				</nav>
<h2>Lista de Categorías</h2>
<a class="nuevalista" href="/categorias/nuevo">Nueva Categoría</a>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
    </tr>

    <tr th:each="cat : ${categorias}">
        <td th:text="${cat.id}"></td>
        <td th:text="${cat.nombre}"></td>
        <td th:text="${cat.descripcion}"></td>
    </tr>
</table>

</div>

</body>
</html>