<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reacciones</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<nav class="navbar">
					<nav class="navbar">
					        <!-- Ahora es una etiqueta 'a' que apunta a index.html -->
					        <a href="https://anthonyzc05.github.io/noticia_digital/" class="navbar-brand">
					            <i class="fa-solid fa-layer-group"></i> NexusNews Hub
					        </a>
					    </nav>
				    <ul class="nav-menu">
						<li><a href="http://localhost:8083/comentarios">Comentarios</a></li>
				        <li><a href="http://localhost:8082/categorias">Categorias</a></li>
				        <li><a href="http://localhost:8084/usuarios" >Usuarios</a></li>
				        <li><a href="http://localhost:8081/articulos" >Articulos</a></li>
						<li><a href="http://localhost:8086/reacciones"class="active">Reacciones</a></li>
						<li><a href="http://localhost:8085/notificaciones"class="btn-nuevo">Notificaciones</a></li>
						<li><a href="http://localhost:8087/lista">Articulos Favoritos</a></li>
				    </ul>
				</nav>
<h1>Gestión de Reacciones</h1>

<div class="container">

    <!-- CARD PRINCIPAL -->
    <div class="card">

        <p class="id-noticia">
            ID Artículo: <span th:text="${articuloId}"></span>
        </p>

        <div class="reacciones">
            👍 Likes: <span th:text="${likes}"></span><br>
            👎 Dislikes: <span th:text="${dislikes}"></span>
        </div>

        <h3>Reaccionar</h3>

        <form th:action="@{/reacciones/guardar}" method="post">
            <input type="hidden" name="articuloId" th:value="${articuloId}"/>

            <div class="botones">
                <button type="submit" name="tipo" value="like" class="like">
                    👍 Like
                </button>

                <button type="submit" name="tipo" value="dislike" class="dislike">
                    👎 Dislike
                </button>
            </div>
        </form>

    </div>

    <!-- TABLA -->
    <div class="card">
		
        <h3>Lista de Reacciones</h3>

        <table >
            <thead>
                <tr class="table">
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Artículo</th>
                    <th>Tipo</th>
                    <th>Acción</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="r : ${reacciones}">
                    <td th:text="${r.id}"></td>
                    <td th:text="${r.usuarioId}"></td>
                    <td th:text="${r.articuloId}"></td>
                    <td th:text="${r.tipo}"></td>
                    <td>
                        <a th:href="@{'/reacciones/eliminar/' + ${r.id}}">
                            ❌
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>