<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<!-- Menú de Navegación Superior -->
	<nav class="navbar">
		<nav class="navbar">
		        <!-- Ahora es una etiqueta 'a' que apunta a index.html -->
		        <a href="https://anthonyzc05.github.io/noticia_digital/" class="navbar-brand">
		            <i class="fa-solid fa-layer-group"></i> NexusNews Hub
		        </a>
		    </nav>
	    <ul class="nav-menu">
			<li><a href="http://localhost:8083/comentarios">Comentarios</a></li>
	        <li><a href="http://localhost:8082/categorias">Categorias</a></li>
	        <li><a href="http://localhost:8084/usuarios" class="active">Usuarios</a></li>
	        <li><a href="http://localhost:8081/articulos" class="btn-nuevo">Articulos</a></li>
			<li><a href="http://localhost:8086/reacciones">Reacciones</a></li>
			<li><a href="http://localhost:8085/notificaciones">Notificaciones</a></li>
			<li><a href="http://localhost:8087/lista">Articulos Favoritos</a></li>
	    </ul>
	</nav>
<div class="contenedor">
    <h1>Lista de Usuarios</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="u : ${usuarios}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.nombre}"></td>
                <td th:text="${u.email}"></td>
                <td>
                    <a th:href="@{'/usuarios/eliminar/' + ${u.id}}">
                        Eliminar
                    </a>
                </td>
            </tr>

            <tr th:if="${#lists.isEmpty(usuarios)}">
                <td colspan="4">No hay usuarios registrados</td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>