<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Notificaciones</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<nav class="navbar">
			<nav class="navbar">
			        <!-- Ahora es una etiqueta 'a' que apunta a index.html -->
			        <a href="https://anthonyzc05.github.io/noticia_digital/" class="navbar-brand">
			            <i class="fa-solid fa-layer-group"></i> NexusNews Hub
			        </a>
			    </nav>
		    <ul class="nav-menu">
				<li><a href="http://localhost:8083/comentarios">Comentarios</a></li>
		        <li><a href="http://localhost:8082/categorias">Categorias</a></li>
		        <li><a href="http://localhost:8084/usuarios" >Usuarios</a></li>
		        <li><a href="http://localhost:8081/articulos" >Articulos</a></li>
				<li><a href="http://localhost:8086/reacciones">Reacciones</a></li>
				<li><a href="http://localhost:8085/notificaciones"class="active">Notificaciones</a></li>
				<li><a href="http://localhost:8087/lista"class="btn-nuevo">Articulos Favoritos</a></li>
		    </ul>
		</nav>
<h1>🔔 Notificaciones</h1>

<div class="container">

    <div th:each="n : ${notificaciones}"
         class="card"
         th:classappend="${n.leido} ? 'leido' : 'no-leido'">

        <p><b>📢 Mensaje:</b><span th:text="${n.usuarioId != null ? n.usuarioId : 'Anónimo'}"></span></p>

        <p><b>👤 Usuario:</b> <span th:text="${n.usuarioId}"></span></p>

        <p><b>📅 Fecha:</b> <<span th:text="${n.fecha != null ? #temporals.format(n.fecha, 'dd/MM/yyyy HH:mm') : 'Sin fecha'}"></span></p>

        <p>
            <b>Estado:</b>
            <span th:text="${n.leido} ? 'Leído' : 'No leído'"></span>
        </p>

        <span class="badge"
              th:text="${n.leido} ? 'Leído' : 'Nuevo'">
        </span>

        <div class="acciones">
            <button th:attr="data-id=${n.id}" onclick="eliminar(this)">
                🗑 Eliminar
            </button>

            <p>ID: <span th:text="${n.id}"></span></p>
        </div>

    </div>

</div>

<script th:src="@{/js/app.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>