body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: rgb(0, 255, 128);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

th {
    background-color: #007bff;
    color: rgb(0, 0, 0);
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

.btn-eliminar {
    background-color: red;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn-eliminar:hover {
    background-color: darkred;
	color: white;
}