<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Favorito</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<nav class="navbar">
		<nav class="navbar">
		        <!-- Ahora es una etiqueta 'a' que apunta a index.html -->
		        <a href="https://anthonyzc05.github.io/noticia_digital/" class="navbar-brand">
		            <i class="fa-solid fa-layer-group"></i> NexusNews Hub
		        </a>
		    </nav>
	    <ul class="nav-menu">
			<li><a href="http://localhost:8083/comentarios"class="btn-nuevo">Comentarios</a></li>
	        <li><a href="http://localhost:8082/categorias">Categorias</a></li>
	        <li><a href="http://localhost:8084/usuarios" >Usuarios</a></li>
	        <li><a href="http://localhost:8081/articulos" >Articulos</a></li>
			<li><a href="http://localhost:8086/reacciones">Reacciones</a></li>
			<li><a href="http://localhost:8085/notificaciones">Notificaciones</a></li>
			<li><a href="http://localhost:8087/lista"class="active">Articulos Favoritos</a></li>
	    </ul>
	</nav>
	<h1>Lista de Favoritos</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Artículo</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="f : ${favoritos}">
            <td th:text="${f.id}"></td>
            <td th:text="${f.usuarioId}"></td>
            <td th:text="${f.articuloId}"></td>
            <td th:text="${f.fecha}"></td>
            <td>
                <a th:href="@{'/eliminar/' + ${f.id}}" class="btn-eliminar">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>