<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Favorito</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Lista de Favoritos</h1>
<a href="http://localhost:8084/usuarios ">Regresar a usuario</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Artículo</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="f : ${favoritos}">
            <td th:text="${f.id}"></td>
            <td th:text="${f.usuarioId}"></td>
            <td th:text="${f.articuloId}"></td>
            <td th:text="${f.fecha}"></td>
            <td>
                <a th:href="@{'/eliminar/' + ${f.id}}" class="btn-eliminar">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>